{% extends "base.html" %}
{% block title %}Other Solutions - 21STCENTURY SOLUTIONS{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="section-title">
            <h2>Other <span class="text-accent">Solutions</span></h2>
            <p>Under Construction</p>
        </div>
        
        <div class="text-center mt-lg">
            <a href="/contact" class="btn btn-primary">Request More Info</a>
        </div>
    </div>
</section>
{% endblock %}